In [2]:
import configparser
from datetime import datetime, timedelta
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, dayofweek
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.types import DateType,StringType
from pyspark.sql import functions as F
from pyspark.sql.functions import avg
import pandas as pd

In [3]:
import pandas as pd

In [33]:
tools_df = pd.read_json('D:/hieulon.json')
tools_df = tools_df[tools_df['Business Model']=='Open Source']
tools_df = tools_df[tools_df['category']!='Business Intelligence (BI)']
tools_df = tools_df[tools_df['category']!='Workflow Orchestration']
tools_df = tools_df[tools_df['countCompanies'] > 0]
tools_df = tools_df.sort_values(by=['category'])
tools_df.head(50)

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
127,debezium,Change Data Capture,1,Late Stage,Mid size,Open source,Open Source,Freemium,US
28,Apache Atlas,Data Cataloging,1,Mid Stage,Enterprise,Open source,Open Source,Freemium,US
22,Amundsen,Data Discovery,2,Early Stage,Mid size,On Prem,Open Source,Free trial,US
130,Delta.io,Data Lakes,3,Mid Stage,Enterprise / Mid size,SaaS / On Prem,Open Source,Free trial,US
31,Apache Hudi,Data Lakes,2,Early Stage,Mid Size / Enterprise,Open Source,Open Source,Freemium,"California, US"
378,Snowplow,Data Logging,6,Late Stage,Mid size / Enterprise,Open source,Open Source,Freemium,"London, England"
35,Apache Spark,Data Modelling and Transformation,5,Late Stage,Mid Size / Enterprise,On Prem,Open Source,Freemium,US
126,dbt,Data Modelling and Transformation,100,Early Stage,Enterprise / Mid size,SaaS,Open Source,Free trial / Contact Sales,US
177,Great Expectations,Data Quality Monitoring,2,Early Stage,Mid size,On Prem,Open Source,Freemium,"California, US"
36,Apache Storm,Data Streaming,5,Late Stage,Enterprise / Mid size,On Prem,Open Source,Freemium,US
29,Apache Flink,Data Streaming,4,Late Stage,Enterprise / Mid size,On Prem,Open Source,Freemium,US
246,Materialize,Data Streaming,1,Late Stage,Enterprise / Mid size,On Prem,Open Source,Freemium,"New York, US"
32,Apache Kafka,Data Streaming,18,Late Stage,Enterprise / Mid size,On Prem,Open Source,Freemium,US
192,Hive,Data Warehouses,1,Late Stage,Mid Size / Enterprise,On Prem,Open Source,Freemium,US
249,Meltano,ETL Tools,3,Early Stage,Mid size / Enterprise,Open source,Open Source,Freemium,US
255,Metorikku,ETL Tools,1,Early Stage,Mid Size,Open Source,Open Source,Freemium,"New York, US"
10,Airbyte,ETL Tools,3,Early Stage,Enterprise / Mid size,SaaS,Open Source,Contact Sales,"San Francisco, US"
202,iguazio,Feature Store,3,Mid Stage,Mid size / Enterprise,SaaS,Open Source,Free trial / Contact Sales,"Herzliya, Israel"
265,Molecula,Feature Store,3,Mid Stage,Mid size / Enterprise,SaaS,Open Source,Contact Sales,"Texas, US"
316,Post Hog,Product Analytics,1,Early Stage,Enterprise / Mid size,Open source,Open Source,Freemium / Contact Sales,"San Francisco, California"

In [17]:
results = tools_df[tools_df['category'] == 'Data Cataloging']
results = results[results['Business Model']=='Open Source']
results.head(20)

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
28,Apache Atlas,Data Cataloging,1,Mid Stage,Enterprise,Open source,Open Source,Freemium,US
245,Marquez,Data Cataloging,0,Mid Stage,Mid size,On Prem,Open Source,Freemium,US

In [11]:
results.head()

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
2,Acceldata,Data Quality Monitoring,1,Early Stage,Mid size,SaaS,Commercial,Contact Sales,"California, US"
18,Alvin,Data Quality Monitoring,0,Early Stage,SMBs / Mid size / Enterprise,SaaS,Commercial,Contact Sales,"Tallinn, Harjumaa"
24,Anomalo,Data Quality Monitoring,2,Early Stage,Mid size,SaaS,Commercial,Contact Sales,US
30,Apache Griffin,Data Quality Monitoring,0,Early Stage,Mid size,Open source,Open Source,Not Available,"Houston, Texas, US"
60,Bigeye,Data Quality Monitoring,0,Early Stage,Mid size,SaaS,Commercial,Free trial,"San Francisco, US"

In [12]:
results = results[results['Business Model']=='Open Source']
results.head(20)

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
30,Apache Griffin,Data Quality Monitoring,0,Early Stage,Mid size,Open source,Open Source,Not Available,"Houston, Texas, US"
140,Elementary Data,Data Quality Monitoring,0,Early Stage,Mid Size,Open Source,Open Source,Freemium,US
177,Great Expectations,Data Quality Monitoring,2,Early Stage,Mid size,On Prem,Open Source,Freemium,"California, US"
181,Griffin,Data Quality Monitoring,0,Mid Stage,Enterprise / Mid size,On Prem,Open Source,Freemium,US
336,re_data,Data Quality Monitoring,0,Early Stage,Enterprise / Mid size / SMBs,Open source,Open Source,Freemium,"Warsaw, Poland"

In [8]:
category_df = tools_df['category'].to_frame()
category_df = category_df.drop_duplicates(keep='first',inplace=False).reset_index(drop=True)
category_df.head(50)

                              category
0           Business Intelligence (BI)
1                   Managed Data Stack
2              Data Quality Monitoring
3                      Data Cataloging
4                 Spreadsheet based BI
5          Customer Data Platform(CDP)
6                  Augmented Analytics
7        Data Workspace/ Collaboration
8                       Synthetic Data
9                            ETL Tools
10              Workflow Orchestration
11                      Data Discovery
12         Data Privacy and Governance
13                       Feature Store
14  Business Reliability/Observability
15                      Data Streaming
16                          Data Lakes
17   Data Modelling and Transformation
18              Operational Analytics
19                     Data Warehouses
20                             PLG CRM
21                   Reverse ETL Tools
22                  No code automation
23                           Data Mesh
24                           Data Apps
25                 Change Data Capture
26                   Product Analytics
27                       Metrics Store
28                        Data Logging